body {

	margin:0;
}

header {
	background-color: #B8CB21;
}

nav {
	display: inline-block;
	float:right;
	margin-top:38.5px;
	margin-right: 50px; 
}

nav ul {
	padding-left: 0;
}

nav ul li {
	display:inline-block;
	  margin-right: 50px; 
	  margin-left: 50px;
}

nav ul li a {

	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;

}